// Frameworks

@import "compass";
@import "html5-boilerplate";

// External plugins e. g. jQuery plugins

@import "vendor/fancybox";

// Base colors and sizes

$primary-color: #aaa;
$secondary-color: #bbb;
$font-color: #444;
$link-color: #c8c8c8;
$link-hover-color: #fff;

$base-font-family: "helvetica neue", helvetica, arial, sans-serif;
$headline-font-family: "helvetica neue", helvetica, arial, sans-serif;
$small-font-size: 11px;
$base-font-size: 13px;
$large-font-size: 20px;
$x-large-font-size: 30px;
$base-line-height: 1.231;

// HTML5 boilerplate

@include html5-boilerplate;

// Global styles used all over the website
// e. g. tags without classes like h1, h2, a, button, form elements, ...

@import "global/extendables";
@import "global/typography";
@import "global/links";
@import "global/buttons";

// Layout (header, footer, global sidebars)

@import "layouts/default";

// Content partials (article, lists, ...)

@import "partials/about";
@import "partials/contact";
@import "partials/goodies";
@import "partials/guestbook";
@import "partials/home";
@import "partials/portfolio";
@import "partials/blog";
@import "partials/social-media";
@import "partials/links";
