.home {
  @extend %hide-text;
  background: image-url("home/cantarel.png");
  height: image-height("home/cantarel.png");
  left: 50%;
  margin: (image-height("home/cantarel.png") / -2) (image-width("home/cantarel.png") / -2);
  position: absolute;
  top: 50%;
  width: image-width("home/cantarel.png");
}
