body,
button {
  color: #808080;
  font-family: "facitweb-1", "facitweb-2", Tahoma, Verdana, "Vera Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
}

h1,
#email {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 25px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 40px 0;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  margin: 0 40px 15px;
}

p {
  margin: 10px 40px;
}
