<form action="guestbook.php" method="post" accept-charset="utf-8">
  <input type="text" name="headline" placeholder="Headline">
  <input type="text" name="name" placeholder="Name">
  <input type="email" name="email" placeholder="E-mail address">
  <input type="url" name="website" placeholder="Website (optional)">
  <textarea name="comment" placeholder="Comment" rows="5"></textarea>
  <button type="submit">Submit</button>
</form>