<?php
  $age = floor((time() - strtotime("1981-03-14")) / (365 * 24 * 60 * 60));
?>
    <h1>About</h1>
    <div class="about">
      <h2>André Cantarel</h2>
      <h3>The author himself</h3>

      <div class="about-photo">
        <%= image_tag("about/myself_v003.jpg") %>
      </div>
      <div class="about-text">
        <div class="about-info">
          <h3>Person:</h3>
          <p>
            I'm <?= $age ?> yrs old and
            currently ended up living in Berlin/Germany.<br>
	    As you might have already noticed, I'm a total aviation nerd - constantly working on aircraft related stuff, mostly helicopters.<br>
	    When not doing that, I'm working (most of the time), going out with the camera (less amount of the time) or I'm doing sports (even more less of the time).<br>
            Nationality: German/US
          </p>
          <p>
            Right now I’m working remotely from home for an upcoming movie.
          </p>
        </div>
        <div class="about-info">
          <h3>Software Knowledge:</h3>
          <ul>
            <li>3ds max 2010</li>
            <li>finalRender Stage-1</li>
            <li>Vray</li>
            <li>Photoshop CS5</li>
            <li>After Effects</li>
            <li>Premiere</li>
            <li>Illustrator</li>
          </ul>
        </div>
        <div class="about-info">
          <h3>Basic Knowledge:</h3>
          <ul>
            <li>Thinking Particles</li>
            <li>Mental Ray</li>
            <li>MAYA</li>
            <li>BodyPaint</li>
            <li>Fusion</li>
            <li>Flash</li>
          </ul>
        </div>
     </div>
    </div>
    



</ol>