html {
  background-image: image-url("website/background.jpg");
}

body {
  background: image-url("website/content.jpg") #1d1e21 no-repeat fixed;
  margin: 50px auto;
  min-height: 700px;
  padding-top: 100px;
  position: relative;
  width: 1400px;
  @include background-size(fixed);
  @include box-shadow(rgba(black, 0.5) 0 1px 10px);
}

header {
  background: #000000;
  height: 80px;
  left: 0;
  padding: 10px 10px 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

nav {
  font-size: 14px;
  line-height: 20px;
  margin: 60px auto 0;
  max-width: 1280px;
  text-align: center;
  width: 100%;
}

nav a {
  color: #464646 !important;
  display: inline;
  margin: 0 35px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

nav a:hover,
nav a.current {
  color: #808080;
}

html {
  height: 100%;
}

html {
  overflow-y: scroll;
}

footer {
  @extend header;
  bottom: 0;
  top: auto;
}

article {
  padding: 80px 0;
  min-height: 100%;
  @include box-sizing(border-box);
}

article:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

li {
  list-style: none;
}

ol {
  margin: 0;
}
