.blog-posts {
  border-bottom: 1px #4f5050 solid;
  border-bottom-color: rgba(white, 0.05);
  margin-top: -49px;
  padding: 40px 0;
  li {
    clear: both;
  }
  img {
    float: left;
    margin-right: 20px;
  }
  time {
    display: block;
    padding-top: 10px;
  }
  time,
  h2,
  p {
    margin-left: 220px;
  }
}

.blog {
  #content {
    padding-bottom: 20px;
  }
  h2,
  p {
    margin: 1em 200px;
  }
  h1 {
    border-bottom: 1px #4f5050 solid;
    border-bottom-color: rgba(white, 0.05);
    padding-bottom: 20px;
    margin-bottom: 48px;
  }
}