#email {
  border-bottom: 1px #4f5050 solid;
  border-bottom-color: rgba(white, 0.05);
  border-top: 1px #4f5050 solid;
  border-top-color: rgba(white, 0.05);
  display: block;
  margin: 0;
  padding: 186px 0;
  text-transform: none;
}

#imprint {
  margin: 32px 0 0;
  text-align: center;
}