.home {
  margin: 217px auto;
  width: 244px;
}

.home h1 {
  background: image-url("home/welcome.png");
  height: 152px;
  margin: 100px 0;
  overflow: hidden;
  text-indent: 1000px;
  white-space: nowrap;
}