RewriteEngine On

RewriteCond %{QUERY_STRING} ^home$
RewriteRule ^hp2005/index.php$                  / [R=301,L]
RewriteCond %{QUERY_STRING} ^about$
RewriteRule ^hp2005/index.php$                  /about.html [R=301,L]
RewriteCond %{QUERY_STRING} ^2d-gallery$
RewriteRule ^hp2005/index.php$             		/personalwork.html [R=301,L]
RewriteCond %{QUERY_STRING} ^3d-gallery$
RewriteRule ^hp2005/index.php$             		/personalwork.html [R=301,L]
RewriteCond %{QUERY_STRING} ^animations-gallery$
RewriteRule ^hp2005/index.php$     				/personalwork.html [R=301,L]
RewriteCond %{QUERY_STRING} ^foto-gallery$
RewriteRule ^hp2005/index.php$           		/personalwork.html [R=301,L]
RewriteCond %{QUERY_STRING} ^guestbook$
RewriteRule ^hp2005/index.php$              	/guestbook.php [R=301,L]
RewriteCond %{QUERY_STRING} ^contact$
RewriteRule ^hp2005/index.php$                	/contact.html [R=301,L]
RewriteCond %{QUERY_STRING} ^links$
RewriteRule ^hp2005/index.php$                  /links.html [R=301,L]

RewriteRule ^hp2005			                    / [R=301,L]

RewriteRule ^hp2010/home$                                   / [R=301,L]
RewriteRule ^hp2010/blog$                                   /blog.html [R=301,L]
RewriteRule ^hp2010/commercialwork$                         /commercialwork.html [R=301,L]
RewriteRule ^hp2010/personalwork$                           /personalwork.html [R=301,L]
RewriteRule ^hp2010/about$                                  /about.html [R=301,L]
RewriteRule ^hp2010/guestbook$                              /guestbook.php [R=301,L]
RewriteRule ^hp2010/contact$                                /contact.html [R=301,L]
RewriteRule ^hp2010/links$                                  /links.html [R=301,L]

RewriteCond %{HTTP_HOST} !^www\.cantarel\.de$
RewriteRule ^(.*)$ http://www.cantarel.de$1 [R=301,L]
