<?php
  $age = floor((time() - strtotime("1981-03-14")) / (365 * 24 * 60 * 60));
?>
<h1>About</h1>
<div class="about">
  <h2>André Cantarel</h2>
  <h3>About himself</h3>
  <div class="about-photo">
    <img src="images/about/myself_v003.jpg">
  </div>
  <div class="about-text">
    <div class="about-info">
      <h3>Person:</h3>
      <p>
        I am a Los Angeles based 3D generalist who works in vfx for film and commercial and am very passionate about visual effects and aviation related topics.
      </p>
      <p>
        For the most part I am a 3ds max artist using Vray. On the past productions I led the modeling and lighting department.
        I got mentioned 3 times in Cinefex, was nominated twice for the VES Award and have several articles in online and print form
        such as the 3DCreative Magazine and Digital Art Masters 3.
      </p>
      <p>
        My nationality is German and US.
      </p>
      <p>
        Right now I am working on "White House Down" at Uncharted Territory / Sony Pictures.
      </p>
    </div>
  </div>
</div>

