<ol id="portfolio">

  <li>
    <h2>Goodies</h2>
    <h3>Old 3D models for free<br>All 3ds max 2009</h3>

    <div class="thumbnails">
      <?= download_thumb("Flak_v001.zip"); ?>
      <?= download_thumb("M1A1_v001.zip"); ?>
      <?= download_thumb("AirportTower_v001.zip"); ?>
      <?= download_thumb("Turbine_v001.zip"); ?>
      <?= download_thumb("SatelliteGizmo_v001.zip"); ?>
    </div>

    <div class="thumbnails">
      <?= download_thumb("RobotA_v001.zip"); ?>
      <?= download_thumb("RobotB_v001.zip"); ?>
    </div>

    <dl>
      <dt>Description:</dt>
      <dd>Old junk I found in the basement and guess what, it's for free! 3ds max 2009 as ZIP.<br>Do with it whatever you want as long as it isn't anything commercial. Let me know when it was used somewhere, I'm curious.</dd>
    </dl>

  </li>

</ol>

