<h1>Imprint</h1>
<p>Andre Cantarel</p>
<p>Leipzigerstrasse 52</p>
<p>69214 Eppelheim</p>
<p>Germany</p>
<p>Haftungshinweis: Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links.</p>
<p>F&uuml;r den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.</p>
<p>Alle Rechte dieser Publikation, insbesondere das Recht der Vervielf&auml;ltigung und Verbreitung sowie der &Uuml;bersetzung, bleiben vorbehalten.</p>
<p>Kein Teil dieser Publikation darf in irgendeiner Form ohne vorherige schriftliche Zustimmung des Autors reproduziert, vervielf&auml;ltigt oder verbreitet werden.</p>
<p>Das Urheberrecht an den Texten, Bildern und Videos liegt bei Andre Cantarel, sofern nicht anders vermerkt.</p>
<p>copyright &copy; 2008 - 2010 by www.cantarel.de Andre Cantarel. all rights reserved.</p>

