<h1>Links</h1>

<dl class="links">

  <dt><a target="blank" href="http://marc-goecke.de/">Marc Goecke</a></dt>
  <dd>vfx, painter</dd>

  <dt><a target="blank" href="http://www.grobe-bilder.com/grobe-bilder-blog/grobe-bilder-blog.html">Michael Grobe</a></dt>
  <dd>vfx, photography, delorean</dd>

  <dt><a target="blank" href="http://www.hagenburger.net" title="html5 css3 scss sass compass haml berlin">Nico Hagenburger</a></dt>
  <dd>design, frontends, ruby on rails</dd>

  <dt><a target="blank" href="http://www.onformative.de">Cedric Kiefer</a></dt>
  <dd>design, motion graphics</dd>

  <dt><a target="blank" href="http://www.schloerb.com">Johannes Schloerb</a></dt>
  <dd>vfx, artist, mercedes</dd>

  <dt><a target="blank" href="http://www.ground-studios.com">Michael Plaengsken</a></dt>
  <dd>vfx, games</dd>

  <dt><a target="blank" href="http://www.sachform.de">Jan Haeusle</a></dt>
  <dd>hdri, textures</dd>

  <dt><a target="blank" href="http://www.julianbuechner.de/index.html">Julian Buechner</a></dt>
  <dd>post production services </dd>

  <dt><a target="blank" href="http://www.manuelflemming.de">Manuel Flemming</a></dt>
  <dd>vfx, c-47, piano</dd>

  <dt><a target="blank" href="http://ivohorvat.com/mattepainting_stills.htm">Ivo Horvat</a></dt>
  <dd>vfx, matte painting</dd>

</dl>

<dl class="links">

  <dt><a target="blank" href="http://www.gereon-zwosta.de/">Gereon Zwosta</a></dt>
  <dd>vfx, feature film</dd>

  <dt><a target="blank" href="http://www.cebas.com">Cebas Computer</a></dt>
  <dd>fR, TP and other plug-ins</dd>

  <dt><a target="blank" href="http://www.ngonizer.com/website/gallery/index_gallery.html">Hannes Poser</a></dt>
  <dd>vfx, artist</dd>

  <dt><a target="blank" href="http://www.burdaarts.de">Jan Burda</a></dt>
  <dd>vfx, compositing, texturing</dd>

  <dt><a target="blank" href="http://www.christineneumann.blogspot.com">Christine Neumann</a></dt>
  <dd>vfx, painting</dd>

  <dt><a target="blank" href="http://irfan-celik.blogspot.com">Irfan Celik</a></dt>
  <dd>vfx, painting</dd>

  <dt><a target="blank" href="http://www.reneborst.de">Rene Borst</a></dt>
  <dd>vfx, matte painter</dd>

  <dt><a target="blank" href="http://www.cgtalk.com">CGtalk</a></dt>
  <dd>large cg related forum</dd>

  <dt><a target="blank" href="http://www.anillusion.de/">Michael Peter</a></dt>
  <dd>vfx, fur, artist</dd>

  <dt><a target="blank" href="http://www.maxplugins.de">Maxplugins</a></dt>
  <dd>a lot of 3ds max scripts</dd>






</dl>

