<ol id="portfolio">

  <li>
    <h2>Photography</h2>
    <h3>Canon Ixus, 20D and 5D Mark II</h3>

    <div class="thumbnails">

      <?= portfolio_thumb("Photos_Audi_v001.jpg", "The German Car. New York City."); ?>
      <?= portfolio_thumb("Photos_Steffi_v001.jpg", "Heidelberg. Germany."); ?>
      <?= portfolio_thumb("Photos_Venice_v001.jpg", "Life at Venice Beach California. Los Angeles."); ?> 
      <?= portfolio_thumb("Photos_Jellyfish_v001.jpg", "SlowMotion. San Francisco."); ?>
      <?= portfolio_thumb("Photos_Jellyfish_v002.jpg", "SlowMotion II. San Francisco."); ?> 
      <?= portfolio_thumb("Photos_FurryGuy_v001.jpg", "Outpost. Germany."); ?>
      <?= portfolio_thumb("Photos_NYShip_v001.jpg", "Sailing. New York City"); ?>
      <?= portfolio_thumb("Photos_F18_v002.jpg", "Sleeping Afterburners. Berlin."); ?> 

    </div>

    <dl>
      <dt>Description:</dt>
      <dd>Text
      </dd>
    </dl>

  </li>

  <li>
    <h2>Iphone 4 Shots</h2>
    <h3>Snapshots I like, entirely done with the phone.</h3>

    <div class="thumbnails">

      <?= portfolio_thumb("Photos_I4Cruise_v001.jpg", "Crusin'. New York City."); ?>
      <?= portfolio_thumb("Photos_I4CentralP_v001.jpg", "For The Birds. New York City."); ?>
      <?= portfolio_thumb("Photos_I4Head_v002.jpg", "Silenced. New York City."); ?> 
      <?= portfolio_thumb("Photos_I4Cruise_v002.jpg", "Latern. New York City."); ?>
      <?= portfolio_thumb("Photos_I4CentralP_v002.jpg", "Patience. New York City."); ?> 
      <?= portfolio_thumb("Photos_I4LoneBld_v001.jpg", "Outpost. New York City."); ?>

    </div>

    <dl>
      <dt>Description:</dt>
      <dd>Text
      </dd>
    </dl>

  </li>

</ol>